*,
html {
  font-family: "Marmelad", sans-serif;
  margin: 0;
}

body {
  box-sizing: border-box;
  background-color: antiquewhite;
  line-height: 2;
}

main {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  background-color: darkslategrey;
  color: antiquewhite;
  padding: 0 30px 60px;
  box-sizing: border-box;
}

input {
  width: 100%;

  padding: 10px;
  box-sizing: border-box;
  color: darkslategrey;
  font-size: larger;
  border-radius: 5px;
  border-style: none;
}

h2 {
  padding: 50px 0 5px 0;
  text-align: center;
}

.formula {
  display: inline-block;
  font-size: larger;
}

.wrap-item {
  display: inline-block;
}

.width100 {
  width: 100%;
}
