*,
html,
a {
  font-family: "Marmelad", sans-serif;
  margin: 0;
}

.btn {
  color: darkslategray;
  background-color: darkseagreen;
  font-family: inherit;
  font-size: larger;
  padding: 10px;
  border-radius: 7px;
  border: 2px solid;
  font-weight: bold;
  margin-left: -2px;
  margin-top: 5px;
  transition: background 0.2s linear;
}

.btn:hover {
  background-color: lightgreen;
}

a {
  color: inherit;
}

body {
  box-sizing: border-box;
  background-color: antiquewhite;
  line-height: 2;
}

main {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  color: antiquewhite;
  box-sizing: border-box;
}

.wrap-task {
  background-color: darkslategrey;
  padding: 30px;
}
.wrap-task:last-child {
  margin-bottom: 0;
}

h2 {
  /* margin: 20px 0; */
  padding: 20px 0;
  text-align: center;
}

input {
  width: 100%;

  padding: 10px;
  box-sizing: border-box;
  color: darkslategrey;
  font-size: larger;
  border-radius: 5px;
  border-style: none;
}

.input-in-text{
  padding: 3px 5px;
  width: 40px;
}

.formula {
  display: inline-block;
  font-size: larger;
}

.wrap-item {
  display: inline-block;
}

.wrap-table {
  display: flex;
  justify-content: center;
  line-height: normal;
}
.wrap-table table {
  text-align: center;
  border-collapse: collapse;
}
.wrap-table td {
  border: 1px solid;
  margin: 0;
  padding: 10px;
}

.width100 {
  width: 100%;
}

textarea {
  width: 100% !important;
  box-sizing: border-box;
}



/* media */
@media (max-width: 1199px) {
  .wrap-task {
    padding: 20px 15px;
    margin-bottom: unset;
    border-radius: unset;
  }
}

/* Примечание медиа запросов 

xl-размер (>=1200px)
CSS для >=1200px
 
lg-размер (<=1199px)
@media (max-width: 1199px) {
  CSS для ширины от 992px до 1199px
}
 
md-размер (<=991px)
@media (max-width: 991px) {
  CSS для ширины от 768px до 991px
}
 
sm-размер (<=768px)
@media (max-width: 767px) { 
  CSS для ширины от 576px до 767px
}
 
xs-размер (<=575px)
@media (max-width: 575px) {
  CSS для ширины до 575px (включительно)
}
*/
